<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Kim InSub</h2>
            <h4>example@gmail.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" i18n-title title="Profile Picture">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader i18n>My example</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/" i18n>WordNote</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/users" i18n>Users</a>

    <mat-divider></mat-divider>

    <h2 matSubheader i18n>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        <span i18n>Contacts</span>
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        <span i18n>Leads</span>
    </a>


</mat-nav-list>
