.user-container {
    padding: 50px 50px 20px 50px;
}

.button-row {
    padding: 20px 50px 50px 50px;
}

.button-row button {
    display: table-cell;
    margin-right: 8px;
}

.half-width {
    width: 50%;
}

