<div class="user-container">
    <mat-form-field appearance="legacy">
      <mat-label>Name</mat-label>
      <input matInput placeholder="ex: Kim InSub">
    </mat-form-field>
    <br>
    <mat-form-field appearance="legacy">
      <mat-label>Age</mat-label>
      <input matInput type="number" placeholder="ex: 29">
    </mat-form-field>
    <br>
    <mat-form-field appearance="legacy">
      <mat-label>Select</mat-label>
      <mat-select>
        <mat-option value="option">Male</mat-option>
        <mat-option value="option">Female</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="legacy" class="half-width">
      <mat-label>Note</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <br>
    <mat-slide-toggle>Enabled</mat-slide-toggle>
    <br>
  </div>
  <mat-divider></mat-divider>
  <div class="button-row">
    <button mat-raised-button color="primary">Add</button>
    <button mat-raised-button color="warn">Back</button>
  </div>
  