<div class="user-container">
    <mat-form-field appearance="legacy">
      <mat-label i18n>Name</mat-label>
      <input matInput i18n-placeholder placeholder="ex: Kim InSub">
    </mat-form-field>
    <br>
    <mat-form-field appearance="legacy">
      <mat-label i18n>Age</mat-label>
      <input matInput type="number" i18n-placeholder placeholder="ex: 29">
    </mat-form-field>
    <br>
    <mat-form-field appearance="legacy">
      <mat-label i18n>Gender</mat-label>
      <mat-select>
        <mat-option value="option" i18n>Male</mat-option>
        <mat-option value="option" i18n>Female</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="legacy" class="half-width">
      <mat-label i18n>Note</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <br>
    <mat-slide-toggle i18n>Enabled</mat-slide-toggle>
    <br>
  </div>
  <mat-divider></mat-divider>
  <div class="button-row">
    <button mat-raised-button color="primary" i18n>Add</button>
    <button mat-raised-button color="warn" i18n>Back</button>
  </div>
  